<p style="font-size: 20px;">Dear Business Owner,</p>

<p>We tried charging your account recently but there seems to be some problem with your credit card: <%= message %>.</p>

<p>Thanks</p>

<small>Credvine Team</small>
