<div style="padding:20px">
<p>Hello,</p>

<p>We're excited that you'd like to join the referral revolution with Credvine Referrals. We're currently working with a limited number of beta customers. We'll send you a unique link to sign up as soon as possible.</p>

<p>Things you can do in the meantime to get ready:</p> 

<ol>
	<li><p>Create a list of your most valued customers that you'd like to ask for referrals</p></li>
	<li><p>Think about the types of perks and giveaways you think could help drive new customers to your business</p></li>
	<li><p>Rest up - we're hopeful that Credvine Referrals will help drive new customers to your business to keep you busy!</p></li>
</ol>
	

<p>Talk to you soon,</p>


<p>The Credvine Team</p>
</div>
