<div style="padding:20px;">
<p>Thank you for registering.  You’re on your way to getting your new customer referral program up and running.</p>


<p>Remember, we’d appreciate any and all feedback from you throughout the process. Just send <a href="mailto:elissa@credvine.com" style="color: #66cc00;">Elissa</a> or <a href="mailto:andrew@credvine.com" style="color: #66cc00;">Andrew</a> a note any time!</p>


<p>Now, let’s get started! Click <%= link_to "here", activate_account_smb_url(@smb, :host => "credvine.com", :activation_token => @smb.activation_token), :style => "color:#66cc00;" %> to fill out your Business Profile.</p><br/>


<p>Thanks!</p>
<p>The Credvine Team</p>
</div>

