<div class="page_header about_header">ABOUT</div>

<p class="about_text">
At its core, Credvine Referrals is about <b>people helping other people</b>. With all of the madness in the world these days, we are struck by how often small acts of kindness can go a long way, and how quickly friends will help each other out.  In fact, research shows that <b>people would rather help out a friend and give THEM a perk than get rewarded themselves.</b> And as business owners, we all know how much our customers are willing to help spread the word about our businesses; but more often than not, business owners just don’t have an easy way to ask for referrals.
</p>
<p class="about_text">
And so we've created Credvine Referrals...  Our online platform makes it quick, easy, and seamless for businesses to set up custom campaigns to allow friends to send recommendations to other people they know well. This means a <b>targeted, qualified referral for your business</b>, initiated by customers who know both the value of your business and the likes and preferences of their friends.  This isn’t attracting one-time deal-seekers who are in-and-out, but instead <b>targets customers who are a great fit for your business and are can become loyal, long-time, referring customers.</b>
</p>
<p class="about_text">
Think about it - with Credvine Referrals, <b>everybody wins!</b> You get new customers, your customers get to help out their friends and get surprise rewards when their friends join you, and their friends of course get hooked up with a perk of your choosing. 
</p>
