<div class="page_header br_header">REFERRAL BOOKS AND RESOURCES</div>

<p class="br_text br_main_heading">Articles</p>

<p class="br_text"><a href="http://www.referralcoach.com/members/articles/Using_Referral_Prospecting_to_Build_Your_Business.php" target="_blank">Using Referral Prospecting to Build your Business by Bill Cates</a></p>

<p class="br_text br_main_heading">Books</p>

<p class="br_text">
	<ol>
		<li class="br_text">
			<a href="http://www.amazon.com/The-Referral-Engine-Teaching-Business/dp/1591843111/ref=sr_1_1?s=books&ie=UTF8&qid=1334026575&sr=1-1" target="_blank">The Referral Engine by John Jantsch</a>
		</li>
		<li class="br_text">
			<a href="http://www.amazon.com/The-Referral-Lifetime-Networking-Bottom-Line/dp/1576752402" target="_blank">The Referral of Lifetime by Tim Templeton</a>
		</li>
		<li class="br_text">
			<a href="http://www.amazon.com/Endless-Referrals-Third-Edition-Burg/dp/0071462074/ref=cm_lmf_tit_11" target="_blank">Endless Referrals by Bob Burg</a>
		</li>
	</ol>
</p>

