<script src="/contact.js" type="text/javascript"></script>

<div class="page_header contact_header">CONTACT</div>
<div class="contact_text">Feel free to get in touch with questions, feedback, support requests or partnership opportunities.</div>
<div class="contact_rightbox">
	<iframe width="250" height="180" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=1+Yonge+Street,+Toronto,+ON,+Canada&amp;aq=0&amp;oq=1+yonge&amp;sll=37.0625,-95.677068&amp;sspn=38.963048,86.572266&amp;ie=UTF8&amp;hq=&amp;hnear=1+Yonge+St,+Toronto,+Ontario+M5E+1Z9,+Canada&amp;t=m&amp;z=14&amp;ll=43.641965,-79.374649&amp;output=embed&iwloc=near"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=1+Yonge+Street,+Toronto,+ON,+Canada&amp;aq=0&amp;oq=1+yonge&amp;sll=37.0625,-95.677068&amp;sspn=38.963048,86.572266&amp;ie=UTF8&amp;hq=&amp;hnear=1+Yonge+St,+Toronto,+Ontario+M5E+1Z9,+Canada&amp;t=m&amp;z=14&amp;ll=43.641965,-79.374649" style="color:#66cc00;text-align:left;">View Larger Map</a></small>
	<div class="contact_page_info">
		1 Yonge Street<br/>Toronto, Ontario<br/>M5E 1E5<br/>Canada
	</div>
	<div class="contact_page_info" style="color:#f1f2f2">
		777-123-4567
	</div>
	<div class="contact_page_info" style="margin-top:0px;">
		<a style="color: #66cc00" href="mailto:support@credvine.com">support@credvine.com</a>
	</div>
</div>
<div class="field">
	<%= text_field_tag :contact_name, '', :placeholder => "Name" %>
</div>

<div class="field">
	<%= email_field_tag :contact_email, '', :placeholder => "Email" %>
</div>

<div class="field">
	<%= text_field_tag :contact_subject, '', :placeholder => "Subject" %>
</div>

<div class="field">
	<%= text_area_tag :contact_message, '', :placehold => "Message", :rows => "5", :cols => "48" %>
</div>

<div class="contact_basic_button contact_button">SEND</div>
