<style>
.hiw_table {
    width: 100%;
}


.exp_box {
    background-color: #66CC00;
    color: white;
    font-size: 16px;
    height: 100px;
    margin: -4px auto 40px;
    padding: 19px 25px 23px;
    text-align: justify;
    width: 238px;
}

.exp_box#l, .exp_box#c, .exp_box#r {
	height:80px;
	line-height: 22px;
}

.exp_box#l {
	margin-left:0px;
}

.exp_box#r {
	margin-right:0px;
}
	
</style>

<div class="page_header hiw_header">HOW IT WORKS</div>
<img style="margin-left:auto; margin-right: auto;" src="/credvine_how-it-works01.png" />
<div class="exp_box" style="width:910px;height:70px">
	<p style="margin-top:0px">Business creates a customer referral campaign</p>
	<table style="width: 100%;">
	    <tr>
			<td><p style="margin-top: 0px; line-height: 22px; margin-left: 100px;">Set perks</p></td>
			<td><p style="margin-top: 0px; line-height: 22px; margin-left: 40px;">Customize messages</p></td>
			<td><p style="margin-top: 0px; line-height: 22px; width: 264px; margin-right: -139px;">Tell customers</p></td>
	    </tr>
	</table>
	<img style="position: relative; left: 271px; top: -40px;" src="/hiw_arrow_white.png">
	<img style="position: relative; left: 564px; top: -40px;" src="/hiw_arrow_white.png">
</div>
<table class="hiw_table">
	<tr>
		<td style="text-align: left">
			<img src="/credvine_how-it-works02.png" />
			<div class="exp_box" id="l">Customer recommends business and sends special perk to friend</div>
		</td>
		<td style="text-align: center">
			<img src="/credvine_how-it-works03.png" />
			<div class="exp_box" id="c">Friend visits business and gets their perk</div>
		</td>
		<td style="text-align: right">
			<img src="/credvine_how-it-works04.png" />
			<div class="exp_box" id="r" >Customer receives thank you and a special bonus</div>
		</td>
	</tr>
</table>
<img style="margin-left:auto; margin-right: auto;" src="/credvine_how-it-works05.png" />
<div class="exp_box" style="width:910px; height: 70px;">
	<p style="margin-top:0px">Everybody is happy!</p>
	<table style="width: 100%;">
	    <tr>
			<td><p style="margin-top: 0px;line-height:22px">Business gets a new customer</p></td>
			<td><p style="margin-top: 0px; line-height: 22px; margin-left: 56px;">Customer hooks up a friend</p></td>
			<td><p style="margin-top: 0px; line-height: 22px; width: 264px; margin-right: -116px;">Friend finds a great place</p></td>
	    </tr>
	</table>
	<img src="/hiw_arrow_white.png" style="position: relative; top: -40px; left: 271px;">
	<img src="/hiw_arrow_white.png" style="position: relative; top: -40px; left: 564px;">
</div>
