<script src="../index.js" type="text/javascript"></script>
<div class="slideshow">
	<div class="slider">
		<div class="slider_main">
			<img class="arrow" id="back" src="/back_arrow.png" />
			<span class="slider_content">
				<img src="../nojs.png" />
			</span>
			<img class="arrow" id="forward" src="/forward_arrow.png" />
		</div>
		<div class="slider_menu">
			<div class="square" slide=4></div>
			<div class="square" slide=3></div>
			<div class="square" slide=2></div>
			<div class="square" slide=1></div>
			<div class="square" slide=0></div>
		</div>
	</div> 
	<div class="slideshow_text">
		<div class="upper_text">
			UNLEASH <br/> THE POWER <br/> OF FRIENDS
		</div>
		<div class="lower_text">
			Your customers love you! <br>Help them help you... <br><br>Spread the love and let your <br> customers hook up their friends <br> with special perks to check out<br> your business!
		</div>
		<a class="white_button" href="/how_it_works">SEE HOW IT WORKS</a> <!-- change corresponding thing back afterwards in index.js-->
	</div>
	
</div>
<div class="invitation_container">
	<form method="get" action="invite">
		<input class="request_invite" type="email" placeholder="Email address" name="email" id="email">
		<a class="black_button" id="small">Request an invite!</a>
	</form>
</div>
<div class="intro_container">
	<div class="intro_left"> 
		Get back to basics and <br/>grow your business through word-of-mouth... <br/><br/>
		with a little help from <br/>the latest technology!
	</div>
	<div class="intro_right">
		<p class="intro_right_header">
			FREE TO SET-UP
		</p>
		<p class="intro_right_text">
			You only pay a small flat fee for referrals<br/>
			There are no monthly fees, set-up costs or percentages
		</p>
		<p class="intro_right_header">
			FULL CONTROL OVER YOUR PROGRAM
		</p>
		<p class="intro_right_text">
			You choose the rewards and bonuses based on what your customers will value<br/>
			You can customize communications to fit your business's brand and style
		</p>
		<p class="intro_right_header">
			EASY STEP-BY-STEP PROCESS
		</p>
		<p class="intro_right_text">
			Get started with your customized campaign in as little as 20 minutes<br/>
			We'll guide you through setup with tips, examples and videos to get the most out of your program
		</p>
		<p class="intro_right_header">
			FITS THE WAY YOU DO BUSINESS
		</p>
		<p class="intro_right_text">
			Allows you to encourage referrals at all the right times, as you interact with customers<br/>
			Works with your purchase process, website, email newsletter and social media
		</p>
	</div>
</div>


