		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Welcome to ReferralHook!</title>

		<!-- <script type="text/javascript" src="/assets/scripts/swfobject/swfobject.js"></script>
        
    <script type="text/javascript">
      var flashvars = {};
      flashvars.cssSource = "/assets/piecemaker.css";
      flashvars.xmlSource = "/assets/piecemaker.xml";
		
      var params = {};
      params.play = "true";
      params.menu = "false";
      params.scale = "showall";
      params.wmode = "transparent";
      params.allowfullscreen = "true";
      params.allowscriptaccess = "always";
      params.allownetworking = "all";
	  
      swfobject.embedSWF('/assets/piecemaker.swf', 'piecemaker', '1000', '450', '10', null, flashvars,    
      params, null);
    
    </script> -->
    
    <link rel="stylesheet" href="homepage_slider/themes/default/default.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="homepage_slider/nivo-slider.css" type="text/css" media="screen" />


		<div>

<!-- 	<center><div id='piecemaker'></div></center> -->
			<h1 style="font-size: 70px;">ReferralHook</h1>
			<h2 style="margin-top: 60px;">Grow your business sustainably and profitably through word of mouth - both online and in the real world!</h3>
		</div>
		<div class="button-home">
			<h3>HOME</h3>
		</div>
		<div class="button-hiw">
			<h3>HOW IT WORKS</h3>
		</div>
		<div class="button-prc">
			<h3>PRICING</h3>
		</div>
		<!-- <div class="button-login">
			<h3>LOGIN</h3>
		</div> -->
		<div class="button-contact">
			<h3>CONTACT</h3>
		</div>
		
		<div id="wrapper">
		 <div class="slider-wrapper theme-default">
            <div class="ribbon"></div>
            <div id="slider" class="nivoSlider" >
                <img src="/assets/example1.png" alt="" style="z-index: -1;"/>
                <img src="/assets/example2.png" alt="" title="This is an example of a caption" style="z-index: -1;"/></a>
                <img src="/assets/example3.png" alt="" data-transition="slideInLeft" style="z-index: -1;"/>
                <img src="/assets/example2.png" alt="" title="#htmlcaption" style="z-index: -1;"/>
            </div>
            <div id="htmlcaption" class="nivo-html-caption">
                <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.
            </div>
        </div>
		</div>
		
		<script type="text/javascript" src="homepage_slider/demo/scripts/jquery-1.7.1.min.js"></script>
    	<script type="text/javascript" src="homepage_slider/jquery.nivo.slider.pack.js"></script>
    	<script type="text/javascript">
    		$(window).load(function() {
        		$('#slider').nivoSlider({
        			pauseTime: 5000
        			
        			
        		});
    		});
   		 </script>	
		
		
		<div>
			<ul style="font-size: 18px; margin-top: 40px; line-height: 25px;">
				<li>Create a custom referral campaign with your chosen rewards</li>
				<br></br>
				<li>Give satisfied customers that extra push to tell a friend</li>
				<br></br>
				<li>Trigger referral requests at all the right times</li>
				<br></br>
				<li>Automatically track referrals and thank/reward referrers</li>
				<br></br>
				<li>Manage and track results</li>
				<br></br>
				<br></br>
			</ul>
		</div>
		<div>
			<h2 style="margin-left: 15px; margin-top: 20px;">How can this help MY business?</hi>
		</div>