<style>
.privacy_text {
    color: black;
    font-family: AvenirLTStd-Roman;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
    margin-top: 0;
}

.privacy_text_header {
	font-weight: bold;
	margin-bottom: 0;
}

.privacy_list {
/*	list-style-type: none;*/
}


</style>

<div class="page_header privacy_header">Privacy Policy</div>

<p class="privacy_text privacy_text_header">Overview</p>
<p class="privacy_text">At Credvine we take your privacy seriously.</p>
<p class="privacy_text">Referral Hook (“<strong>Referral Hook</strong>”, “<strong>we</strong>”, “<strong>us</strong>” or “<strong>our</strong>”), the company that owns and operates of the Credvine website and application, is committed to respecting your privacy. This Privacy Policy (“<strong>Policy</strong>”) sets out our policy and practices concerning the collection, use and disclosure of personal information. Generally speaking, “<strong>personal information</strong>” is information about an identifiable individual, as more particularly described under applicable privacy legislation.</p>

<p class="privacy_text privacy_text_header">Scope</p>
<p class="privacy_text">This Policy applies to our collection, use and disclosure of personal information in Canada and collected from and about individuals and data collected by business account holders that are or may become customers of Referral Hook. This Policy does not apply to information that is not personal information.</p>

<p class="privacy_text privacy_text_header">Personal Information We Collect</p>
<p class="privacy_text">Referral Hook and its agents, partners and representatives collect personal information in a number of circumstances in the course of operating our Referral and Social Media software to provide services to users. Personal information we collect includes:</p> 
<ul class="privacy_list">
	<li>
		<p class="privacy_text">name, e-mail address, address, telephone number, and other contact information;</p>
	</li>
	<li>
		<p class="privacy_text">photos provided by users and photos of users obtained through linked social media accounts;</p>
	</li>
	<li>
		<p class="privacy_text">information provided by business account holders on the incentives they choose to offer customers and their friends, descriptions of their business, customized communications they choose to send to customers and their friends;</p>
	</li>
	<li>
		<p class="privacy_text">data and reports on the performance of referral programs and campaigns, including the names and photos of customers who make referrals;</p>
	</li>
	<li>
		<p class="privacy_text">customer referral information, including the text they send to a friend when completing a referral and information on their preferences and referral activity;</p>
	</li>
	<li>
		<p class="privacy_text">such other information we may collect with consent of users or as permitted or required by law.</p>
	</li>
</ul>

<p class="privacy_text privacy_text_header">Use of Personal Information</p>
<p class="privacy_text">Referral Hook generally uses personal information for the following purposes:</p> 
<ul class="privacy_list">
	<li>
		<p class="privacy_text">Customer data related to the performance of and activity related to referral programs and campaigns run by our business account holders is collected in order to help manage, track and operate these referral campaign(s) and program(s)</p>
	</li>
	<li>
		<p class="privacy_text">Customer data, including preference and referral activity data, photos and personal information are all used for the purpose of enabling a customer to send a referral to a friend as well as to enable the business account holder to manage, track and operate their referral campaign(s) and program(s)</p>
	</li>
	<li>
		<p class="privacy_text">E-mail addresses, names, address and other contact information for the purpose of staying in touch through our e-mail newsletter. Our newsletter is opt-in, meaning customers and visitors expressly choose to sign up for it</p>
	</li>
	<li>
		<p class="privacy_text">Customer information to manage, administer, conduct collections or otherwise enforce payment of accounts</p>
	</li>
	<li>
		<p class="privacy_text">Customer information to maintain business records for reasonable periods, and generally manage and administer our business or to meet legal, regulatory, insurance, security and processing requirements; and</p>
	</li>
	<li>
		<p class="privacy_text">Otherwise with consent or as permitted or required by law</p>
	</li>
</ul>

<p class="privacy_text privacy_text_header">Disclosure of Personal Information</p>
<p class="privacy_text">Referral Hook discloses personal information in the following circumstances:</p> 
<ul class="privacy_list">
	<li>
		<p class="privacy_text">To our business account holders to operate, maintain, manage and track their referral campaign(s) and program(s), we disclose the full name and photo (where available) of customers who complete referrals to the business account holder. This information is not publicly available, but only disclosed in the business account holder’s password protected administration panel.</p>
	</li>
	<li>
		<p class="privacy_text">We do not disclose contact information (e.g., phone number, e-mail address, address) of customers or their friends to our business account holders.</p>
	</li>
	<li>
		<p class="privacy_text">We do not sell or distribute mailing lists or other customer or friend contact details to any third party. Any third party or affiliate communications will be handled by Referral Hook, except where our users provide data directly to any third party or affiliate.</p>
	</li>
</ul>
<p class="privacy_text">In addition to the above, personal information may be disclosed to our affiliated companies
(including outside of Canada) for internal audit, management, billing or administrative purposes.</p>

<p class="privacy_text"><u><i>Service Providers.</i></u>&nbsp;&nbsp;&nbsp; Referral Hook may transfer personal information to outside agents or service providers (including affiliates of Referral Hook acting in this capacity) that perform services on our behalf, for example payment processing, transactional e-mail and e-mail newsletter, call center, billing, marketing, and/or data hosting or processing services or similar services, or otherwise to collect, use, disclose, store or process personal information on our behalf for the purposes described in this Policy. Some of these service providers or affiliates may be located outside of Canada, including in the United States, and your personal information may be collected, used, disclosed, stored and processed in the United States or elsewhere outside of Canada for the purposes described in this Policy. We will take reasonable contractual and other measures to protect your personal information while processed or handled by these service providers, but your information may be subject to legal requirements in jurisdictions outside of Canada that may differ from the laws in Canada, such as lawful requirements to disclose personal information to government authorities in those jurisdictions.</p>

<p class="privacy_text"><u><i>Business Transactions.</i></u>&nbsp;&nbsp;&nbsp; Personal information may be used by Referral Hook and disclosed to parties connected with the proposed or actual financing, securitization, insuring, sale, assignment or other disposal of all or part of Referral Hook or our business or assets, for the purposes of evaluating and/or completing such transactions. These purposes may include, as examples:</p>
<ul class="privacy_list">
	<li>
		<p class="privacy_text">permitting those parties to determine whether to proceed with the transaction</p>
	</li>
	<li>
		<p class="privacy_text">fulfilling reporting, inspection or audit requirements or obligations to those parties</p>
	</li>
</ul>
<p class="privacy_text">Assignees or successors of Referral Hook or our business or assets may use and disclose your personal information for similar purposes as those described in this Policy.</p>

<p class="privacy_text"><u><i>Legal, Regulatory, etc.</i></u>&nbsp;&nbsp;&nbsp;Referral Hook may disclose your personal information as ecessary to meet legal, regulatory, insurance, audit, and security requirements, and as otherwise with your consent or as permitted or required by law (including as required by applicable Canadian and foreign laws applicable to Referral Hook or our agents and service providers, and including lawful requirements to disclose personal information to government authorities in those countries).</p>

<p class="privacy_text">We may also be required or permitted under statute or regulation to collect, use or disclose personal information without your consent, for example to comply with a court order, to comply with local or federal regulations or a legally permitted inquiry by a government agency, or to collect a debt owed to us.</p>

<p class="privacy_text privacy_text_header">Our Website</p>
<p class="privacy_text">This Policy applies to personal information that we collect from our Credvine website and application. It does not apply to any third-party websites linked from our website. Referral Hook is not responsible for the privacy practices of such third-party websites.</p>
<p class="privacy_text">Referral Hook uses cookies to facilitate and streamline login for users, and may periodically collect clickstream information for the purposes of analyzing website ease of use and accessibility of information and to understand which information, features and functionality on our website is most used and most valuable to our clients.</p>

<p class="privacy_text privacy_text_header">Your Consent</p>
<p class="privacy_text">Consent to the collection, use and disclosure of personal information may be given in various ways. Consent can be express (for example, orally, electronically or on a form you may sign describing the intended uses and disclosures of personal information) or implied (for example, when you provide information necessary for a service you have requested). You may provide your consent in some circumstances where notice has been provided to you about our intentions with respect to your personal information and you have not withdrawn your consent for an identified purpose, such as by using an “opt out” option provided, if any. Consent may be given by your authorized representative (such as a legal guardian or a person having a power of attorney). <strong>Generally, by providing us with personal information, we will assume that you consent to our collection, use and disclosure of such information for the purposes identified or described in this Policy, if applicable, or otherwise at the time of collection.</strong></p>
<p class="privacy_text">You may withdraw your consent to our collection, use and disclosure of personal information at any time, subject to contractual and legal restrictions and reasonable notice. Note that if you withdraw your consent to certain uses of your personal information, we may no longer be able to provide services to you.</p>


<p class="privacy_text privacy_text_header">Removal from Mailing List</p>
<p class="privacy_text">In order to remove your name from Referral Hook’s mailing list, <strong>select the “Unsubscribe” button at the bottom of an e-mail newsletter you received from us, or contact us at <a href="mailto: info@referralhook.com">info@referralhook.com</a> to have your name removed.</strong></p> 

<p class="privacy_text privacy_text_header">Security</p>
<p class="privacy_text">We take reasonable steps to protect your personal information using physical, electronic or procedural security measures appropriate to the sensitivity of the information in our custody or control, which may include safeguards to protect against loss or theft, as well as unauthorized access, disclosure, copying, use or modification. Authorized employees, agents and business account holders of Referral Hook who require access to your personal information in order to fulfil their roles in providing services to you will have access to your personal information.</p> 

<p class="privacy_text privacy_text_header">Access, Correction and Contacting Us</p>
<p class="privacy_text">Referral Hook may establish and maintain a file of your personal information for the purposes described above, which will be accessible at Referral Hook Inc., Attention Privacy Officer, 1 Yonge Street, Toronto, Ontario, Canada, M5E1E6. If you wish to request access to or correction of your personal information in our custody or control, you may write to the above address. Your right to access or correct your personal information is subject to applicable legal restrictions. We will take reasonable steps to verify your identity before granting access or making corrections. If you wish to make inquiries or complaints or have other concerns about our personal information practices, write to us as described above or e-mail us at <strong><a href="mailto: info@referralhook.com">info@referralhook.com</a></strong></p> 

<p class="privacy_text privacy_text_header">Changes to this Privacy Policy</p>
<p class="privacy_text">This Policy may be revised from time to time. If we intend to use or disclose personal information for purposes materially different than those described in this statement, we will make reasonable efforts to notify affected individuals, if necessary, including by revising this Policy. Your continued provision of personal information or use of our services following any changes to this Policy constitutes your acceptance of any such changes. If you are concerned about how your personal information is being used, you should contact us as described above or check our website at <strong><a href="http://credvine.com/privacypolicy">http://credvine.com/privacypolicy</a></strong> to obtain a current copy of this Policy. This Policy is effective as of April 2012.</p>