<style>



ul, li {
    margin-bottom: 20px;
}

ul.numbered {
    counter-reset: item;
}
ul.numbered li {
    list-style-type: none;
}
ul.non-numbered li {
    list-style-type: disc;
    margin-left: 17px;
}
ul.numbered > li {
    counter-increment: item;
}
ul.numbered > li:before {
    content: counter(item, decimal) ".";
}
ul.numbered > li > ul.numbered {
    counter-reset: subitem;
}
ul.numbered > li > ul.numbered > li {
    counter-increment: subitem;
}
ul.numbered > li > ul.numbered > li:before {
    content: counter(item, decimal) "." counter(subitem, decimal);
}

.indented_list {
    margin-left: 60px!important;
}


</style>

<div class="page_header terms_header">TERMS & CONDITIONS</div>

<p class="terms_text terms_main_heading">Credvine Web Site Terms and Conditions as of February 1, 2012</p>
<p class="terms_text">This Agreement applies to your use of the Credvine Web site or Mobile App pages as well as the use of the application software that automates business-to-customer and business-to-business referrals and incentives (the “App”) found on both the Credvine Web and Mobile platforms (collectively the "Service").</p>
<p class="terms_text">The information found on the Credvine Web site and Mobile App pages and the Service are provided by <strong>Referral Hook Inc.,</strong> a company incorporated in Canada (CBCA). These Terms of Use ("Terms" or "Agreement") are a legal agreement between you and Referral Hook and apply to your access to the Credvine Web site and Mobile App pages, installation of the Credvine App and your use of the Service.</p>
<p class="terms_text terms_main_heading">Please read these Terms carefully and save them. If you do not agree with them, you should not use the Credvine Web site or download the Credvine App on your computer or mobile device.</p>

<ul class="terms_text terms_list numbered">
	<li>
		<p class="terms_list_heading">General</p>
		<ul class="terms_text terms_list numbered">
			<li>
				<p class="terms_list_text" style="margin-left:30px">In consideration for the rights and licences granted to you by these Terms, you represent and warrant that:</p>
				<ul class="terms_text terms_list non-numbered indented_list">
					<li><p class="terms_sublist_text">If you intend to represent an enterprise you have the authority to enter into this Agreement.</p></li>
					<li><p class="terms_sublist_text">All information provided by you to Referral Hook is true, accurate, valid, current and complete.</p></li>
				</ul>
			</li>
		</ul>
	</li>
	<li>
		<p class="terms_list_heading">Additional Terms And Modification Of Terms</p>
		<ul class="terms_text terms_list numbered">
			<li>
				<p class="terms_list_text"><strong>Modification of Terms.</strong> Referral Hook may modify these Terms from time to time. You agree that such modification shall be effective upon posting on the Credvine Web or App page and you will be bound to any changes when you use the Service after such modification is posted. It is therefore important that you review these Terms regularly. Should you not agree with the altered Terms your sole remedy is to delete the Credvine App and cease your use of the Service.</p>
			</li>
		</ul>
	</li>
	<li>
		<p class="terms_list_heading">Uses and Conduct</p>
		<ul class="terms_text terms_list numbered">
			<li>
				<p class="terms_list_text"><strong>Use.</strong> You agree that: (i) your account is for your use only (whether enterprise or personal); (ii) you will not authorize others to make any use of any kind of your account or profile; (iii) you will not resell the Service or any of the Contents or data you are provided with by Referral Hook, through use of the Service; (iv) you will be respective and courteous to all users of the Service; (v) you will be truthful and transparent in all of your dealings with users of the Service; (vi) you will respect the confidentiality and privacy of the users of the Service; (vii) you will provide the rewards or redeem the incentives that you have promised to the end-customers;</p>
			</li>
			<li>
				<p class="terms_list_text"><strong>Unauthorized Conduct and Content.</strong> You agree that you will not engage in any illegal or prohibited conduct, or post unauthorized content through the Service or the Credvine Web and Mobile sites, including but not limited to the following:</p>
				<ul class="terms_text terms_list non-numbered indented_list">
					<li><p class="terms_sublist_text"><strong>Illegal Activity.</strong> You agree not to use the Service for any illegal or unauthorized purpose, such as: criminal activity (including child pornography, fraud, trafficking in obscene material, drug dealing, gambling, harassment, stalking, spamming, sending of viruses or other harmful files); business or personal property violations (copyright infringement, patent infringement, theft of trade secrets) or any other use of the Service in a manner inconsistent with any and all applicable local, state, provincial, national and international laws and regulations.</p></li>
					<li><p class="terms_sublist_text"><strong>SPAM.</strong> You agree not to: (i) create, upload, post, e-mail, transmit, submit or otherwise make available unsolicited commercial messages to any other users; (ii) collect user data and/or email addresses for the purpose of sending unsolicited email; (iii) use any information obtained from the Service in order to contact, advertise to, solicit, or sell to any user without their <u>prior explicit consent</u>;</p></li>
					<li><p class="terms_sublist_text"><strong>Scripting, Hacking Or Interference with Others.</strong> You agree not to: (i) make any automated use of the Service (such as through scripts, data mining, robots, screen-scraping, or similar data gathering and extraction tools); (ii) make available to or through the Service any material that contains software viruses, worms, any other code, files or programs of a destructive nature (including those designed to interrupt, destroy or limit the functionality of the Service or of user software or hardware); (iii) interfere with, disrupt, or create an undue burden on the Service or the networks or services connected to the Service; (iv) attempt to circumvent the payment and reporting processes of the Service or; (v) act in a manner that negatively affects the ability of other users to use the Service and its features;</p></li>
					<li><p class="terms_sublist_text"><strong>Impersonation And Use Of Another's Account.</strong> You agree not to: (i) attempt to or actually impersonate another user; (ii) use any information obtained from the Service in order to impersonate another user or (iii) use the account, username, or password of another user at any time;</p></li>
					<li><p class="terms_sublist_text"><strong>Harassment.</strong> You agree not to abuse, harass, threaten, intimidate, engage in flame wars or otherwise harm users or use any information obtained from the Service in order to do so. You agree not to send multiple requests to parties referred to you by users;</p></li>
					<li><p class="terms_sublist_text"><strong>False Attribution. </strong>You agree not to: (i) engage in any conduct or statement which states or implies any false association between Referral Hook or its Service and yourself or another entity; (ii) forge or manipulate headers or identifiers in order to disguise the origin of any content transmitted to or through the Service; or (iii) misattribute or otherwise claim as your own the copyrighted works or trade-marks owned by another party.</p></li>
					<li><p class="terms_sublist_text"><strong>Unauthorized Content.</strong> We encourage you to upload to or through the Service graphics, photos, text, information, messages, and links ("Content"). You agree that you will not post or transmit any prohibited Content. Content or material is prohibited if it is illegal, inaccurate, false, misleading, deceptive, defamatory, abusive, obscene, profane, vulgar, or patently offensive, tortious, libellous; solicits passwords or personal identifying information for commercial or unlawful purposes from other users; provides any personal information of others (such as telephone numbers, street addresses, last names, personal preferences, age, photos or email addresses of any other person);</p></li>
					<li><p class="terms_sublist_text"><strong>Content Of Others.</strong> The Service contains Content originating from other users of the Service. Except for Content posted by you, you may not copy, modify, translate, publish, broadcast, transmit, distribute, perform, display, or sell any Content appearing on or through the Service. Referral Hook reserves the right to supply partial information to you in order to make the Service operable but to withhold certain personal information for privacy reasons.</p></li>
					<li><p class="terms_sublist_text"><strong>Responsibility for Conduct and Content.</strong> You are fully and solely responsible for any activity that occurs under your name or enterprise, password or account, including any violation of this Agreement: your own conduct and your interactions with other users; and any Content, material or information that you upload, create, post, display, publish, e-mail, communicate, transmit or otherwise make available, or which you transmit to other users.</p></li>
				</ul>
			</li>
			<li>
				<p class="terms_list_text"><strong>Company's Rights Regarding Conduct And Content. </strong>Referral Hook reserves the right to investigate and take appropriate action against any user who, in Company's sole discretion:</p>
				<ul class="terms_text terms_list non-numbered indented_list">
					<li><p class="terms_sublist_text">violates the provisions of these Terms regarding prohibited conduct and Content;</p></li>
					<li><p class="terms_sublist_text">violates or is alleged to violate any applicable law or the letter or spirit of this Agreement;</p></li>
					<li><p class="terms_sublist_text">engages in conduct which may be offensive, illegal or violate the rights, harm, or threaten the safety of any person;</p></li>
					<li><p class="terms_sublist_text">posts content that unfairly disparages or criticizes Referral Hook or its products or services (including Credvine);</p></li>
					<li><p class="terms_sublist_text">fails to pay fees to keep their account active;</p></li>
				</ul>
				<p class="terms_list" style="margin-left:60px">Company's action may include, without limitation, reporting you to law enforcement authorities, terminating your account, removing, refusing or moving offending Content from the Service. If a dispute or claim arises from Content, Referral Hook may remove the Content until a resolution has been reached.</p>
			</li>
			<li>
				<p class="terms_list_text"><strong>Disclaimer Regarding Conduct And Content.</strong> Despite the prohibitions in this Agreement on inappropriate conduct and Content, information and Content provided by other users on or through the Service and the conduct of users of the Service may violate some or all of these prohibitions. Referral Hook does not endorse and has no control over the conduct of, or Content posted or sent by, users of the Service. User conduct and Content may not be reviewed by Referral Hook and may not reflect the opinions or policies of Company. Referral Hook assumes no responsibility or liability for monitoring the Service or the Credvine Web site or for user conduct or Content and makes no warranties, express or implied, as to user conduct or Content, including its accuracy or reliability, or of any material or Content that users communicate on or through the Service.</p>
			</li>
			<li>
				<p class="terms_list_text"><strong>Abuse Reports.</strong> If you become aware of an abuse or misuse of the Service or the Credvine Web site or mobile page by any person, including any inappropriate user conduct or Content, please contact Referral Hook at abuse@ReferralHook.com.</p>
			</li>
		</ul>
	</li>
	<li>
		<p class="terms_list_heading">Proprietary Rights In Content That You Provide To The Service</p>
		<ul class="terms_text terms_list numbered">
			<li>
				<p class="terms_list_text"><strong>You Have All Necessary Rights.</strong> For all Content that you upload to or through the Service, you represent and warrant that you (or your enterprise) owns or otherwise has all rights, approvals, licenses and/or consents necessary to submit the Content, and that use of the Content on or through the Service does not violate the privacy rights, data protection rights, publicity rights, copyrights, trade-marks, contract rights or any other rights of any person.</p>
			</li>
			<li>
				<p class="terms_list_text"><strong>Licence Of Uploaded Content To Company.</strong> By displaying, uploading or publishing any Content on or through the Service, you grant to Referral Hook a perpetual, non-exclusive, paid-up, sub-licensable, world-wide licence to use, reproduce, copy, modify, adapt, translate, perform, digitally perform, display, reproduce, and distribute such Content (in whole or in part) and to compile with the Referral Hook (Credvine) software to deliver the Service. The licence does not grant Referral Hook the right to distribute your Content outside of the Service.</p>
			</li>
			<li>
				<p class="terms_list_text"><strong>Content Removal.</strong> You can remove your Content at any time by deleting your Credvine account. Deletion of your account will not terminate any Content licences granted to Referral Hook prior to deletion of your account.</p>
			</li>
		</ul>
	</li>
	<li>
		<p class="terms_list_heading">Proprietary Rights In Company's And Third-Party Content And Technology</p>
		<ul class="terms_text terms_list numbered">
			<li>
				<p class="terms_list_text"><strong>Company's Ownership Of Proprietary Rights.</strong> You acknowledge that the Service contains copyrighted material, software, technology, trade-marks, and other proprietary information of Referral Hook and its third party licensors and you agree that, except for the limited licence granted by these Terms, all right, title and interest to the Service and its contents remains with Referral Hook or third parties.</p>
			</li>
			<li>
				<p class="terms_list_text"><strong>Software.</strong> All software that forms part of the Service is the property of Referral Hook or its software licensors and is protected by Canadian and international copyright and/or patent laws. You agree not to translate, reverse engineer, decompile, disassemble, modify or create derivative works based on any of the software provided through the Service. You agree not to circumvent any technology used by Referral Hook or its licensors to protect Content accessible on or through the Service.</p>
			</li>
			<li>
				<p class="terms_list_text"><strong>Limited License Of Referral Hook Content To User.</strong> Referral Hook grants you a limited, revocable personal license to display the Referral Hook Content (excluding any software code) solely for your personal use in connection with either viewing the Credvine Web site or Mobile App pages or using the Service. No other rights in Referral Hook Content are granted to you.</p>
			</li>
		</ul>
	</li>
	<li>
		<p class="terms_list_heading">Service Terms</p>
		<ul class="terms_text terms_list numbered">
			<li>
				<p class="terms_list_text"><strong>General.</strong> Referral Hook has the right, but no obligation, to take actions in its sole discretion at any time and for any reason, and you agree that we will not be liable to you or any third party for taking any or all of these actions.</p>
			</li>
			<li>
				<p class="terms_list_text"><strong>Company's Right To Control Service.</strong> Referral Hook may reject, refuse to post or remove any Content (including private messages) by or to you, and may restrict, suspend, or terminate your access to all or any part of the Service at any time, for any or no reason, with or without prior notice, and without liability.</p>
			</li>
			<li>
				<p class="terms_list_text"><strong>Fees.</strong> You acknowledge that Referral Hook reserves the right to charge for the Service and to change any such fees from time to time in its discretion. Referral Hook may terminate your account for non-payment of fees. If terminates your access to the Service because you have breached the terms of this Agreement, you shall not be entitled to the refund of any unused portion of any Service fees.</p>
			</li>
			<li>
				<p class="terms_list_text"><strong>Availability.</strong> Referral Hook may change, suspend, delay or discontinue all or any part of the Service at any time, with or without reason. You acknowledge that the operation of the Service on any platform may from time to time encounter technical or other problems and may not necessarily continue uninterrupted or without technical or other errors. Referral Hook shall not be responsible to you or others for any such interruptions, errors or problems or an outright discontinuance of the Service. Referral Hook has no obligation to continue producing or releasing new versions of the Service or any associated software and/or Content.</p>
			</li>
			<li>
				<p class="terms_list_text"><strong>Account Access.</strong> Referral Hook may restrict, suspend, or terminate your access to all or any part of the Service, deactivate your account, or delete your account and all related information and files in your account. You acknowledge, consent and agree that Referral Hook may access, preserve, disclose or delete your account information and Content if required to do so by law or in a good faith belief that such act is reasonably necessary to:</p>
				<ul class="terms_text terms_list non-numbered indented_list">
					<li><p class="terms_sublist_text">comply with legal process;</p></li>
					<li><p class="terms_sublist_text">enforce this Agreement;</p></li>
					<li><p class="terms_sublist_text">respond to claims that Content violates the rights of third-parties;</p></li>
					<li><p class="terms_sublist_text">respond to your requests for customer service; or</p></li>
					<li><p class="terms_sublist_text">protect the rights, property, or personal safety of Company, its users and the
public.</p></li>
				</ul>
			</li>
			<li>
				<p class="terms_list_text"><strong>Termination of Inactive Account.</strong> After a period of inactivity on the Service, Referral Hook reserves the right to disable or terminate your Credvine account.</p>
			</li>
			<li>
				<p class="terms_list_text"><strong>Credvine Website Beta.</strong> You acknowledge that the Service may from time to time be a “beta” release and/or be undergoing testing. You agree that you understand that the Service may not perform with complete functionality, may be undergoing testing, may be inconsistently available, may have software “bugs” that have not yet been fixed by Referral Hook and may have other issues affecting availability and functionality.</p>
			</li>
		</ul>
	</li>
	<li>
		<p class="terms_list_heading">Disputes With Customers and Between Users</p>
		<p class="terms_list" style="margin-left:60px">You are solely responsible for your interactions with your customers and other users of the Service. Referral Hook reserves the right, but has no obligation, to monitor or attempt to mediate or otherwise resolve disputes between you and your customers.</p>
	</li>
	<li>
		<p class="terms_list_heading">Term And Termination</p>
		<ul class="terms_text terms_list numbered">
			<li>
				<p class="terms_list_text" style="margin-left:30px"><strong>Term.</strong> This Agreement shall remain in effect indefinitely.</p>
			</li>
			<li>
				<p class="terms_list_text"><strong>Termination.</strong> Either you or Referral Hook may terminate your access to the Service at any time, for any reason or no reason, without explanation. Referral Hook shall not be liable to you or any third party for any termination of your account or your access to the Service.</p>
			</li>
		</ul>
	</li>
	<li>
		<p class="terms_list_heading">Disclaimers, Warranties And Limitations On Liability</p>
		<ul class="terms_text terms_list numbered">
			<li>
				<p class="terms_list_text" style="margin-left:30px"><strong>Disclaimers.</strong></p>
				<ul class="terms_text terms_list non-numbered indented_list">
					<li><p class="terms_sublist_text">Referral Hook is not responsible for any incorrect or inaccurate Content posted on or through the Service or the Credvine Web site or Mobile App pages, whether caused by users, licensees or by any of the equipment or programming associated with the Service.</p></li>
					<li><p class="terms_sublist_text">Referral Hook is not responsible for the Content, accuracy or opinions expressed on any Web sites or mobile app pages that are linked from or to its Web site. Inclusion of any link through the Service does not imply approval or endorsement of the linked third party. If you access these third party sites or pages, you do so at your own risk. Referral Hook takes no responsibility for third party advertisements which are posted on or through the Service nor does it take any responsibility for the benefits, goods or services provided by its licensees or any advertisers on its Web site or Mobile pages.</p></li>
					<li><p class="terms_sublist_text">Referral Hook is not responsible for the conduct, whether online or offline, of any user of the Service or party viewing the Credvine Web site or Mobile App.</p></li>
					<li><p class="terms_sublist_text">Referral Hook assumes no responsibility for any error, omission, interruption, deletion, defect, delay in operation or transmission, communications line failure, theft or destruction or unauthorized access to, or alteration of, any user communication. Referral Hook is not responsible for any problems or technical malfunction of any telephone network or lines, computer online systems, servers or providers, computer equipment, software, failure of any posting to show up, missing email due to technical problems or traffic congestion on the Internet or on the Service, including any injury or damage to users or to any person's computer related to or resulting from participation or downloading materials in connection with the Service or the Credvine Web site or Mobile pages.</p></li>
				</ul>
			</li>
		</ul>
	</li>
		
</ul>
