<div class="page_header campaign_launched_header">CONGRATULATIONS! <br/>YOU'VE LAUNCHED YOUR CAMPAIGN!</div>

<div class="page_subheader">Now, you can go to your <%= link_to "Dashboard", dashboard_smb_path(@smb)%> to manage everything!</div>
