.togglebox {
	background-color:#CCC;
	border: 1px solid #a9a9a9;
	/* Rounder Corner */
	-moz-border-radius: 7px;
        -webkit-border-radius: 7px;
	-khtml-border-radius: 7px;
	overflow: hidden;
	font-size: 1em;
	width: 300px;
	clear: both;
	margin-bottom:10px;
}


.togglebox .content {
	padding: 10px;
	width: 300px;
}

