<script type="text/javascript" src="/assets/highcharts.js"></script>
<script type="text/javascript" src="/assets/gray.js"></script>
 <script type="text/javascript" src="/assets/report.js"></script>
 <script type="text/javascript" src="/assets/modules/exporting.js"></script>

<h1 class="h1-report">Report for <%= Smb.find(params[:smb_id]).full_name %></h1>

<center><div id="container" style="width: 900px; height: 200px; margin: 0"></div></center>
<style type="text/css">
#myBox1_content {
			   text-align: left; 
			   padding: 10px; 
			   color: black;
			   
			}
			
	#myBox1_contentBoxBg {
			   background-color: #EEEEEE;
			   background-image: "rails.png"
			   filter: alpha(opacity=70);
			   -moz-opacity:0.6;
			   opacity:0.8;
			}
			
			#myBox2_content {
			   text-align: left; 
			   padding: 10px;
				color: black;
			 
			}
			
			#myBox2_contentBoxBg {
			   background-color: rgb(22,244,255);
			   background-image: url(.png);
			   filter: alpha(opacity=60);
			   -moz-opacity:0.7;
			   opacity:0.8;
			}
			
			#myBox_contentBoxBg {
				background-color: yellow;
				filter: alpha(opacity=50);
				-moz-opacity:.50;
				opacity:.60;
			}
			#myBox_content {
			  padding: 20px; 
			  color: black;
			}
			#myBox h3 {
			  font-size: 20px;
			  margin: 0px; 
			  text-align: center;
			 
			}
			


</style>
<div id="myBox1" class="glassbox"></div>
<div id="myBox2" class="glassbox"></div>
